body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #0A1D3E;
    border-left: 1px solid #0A1D3E;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: #0A1D3E;
    border-radius: 0;
    border-bottom: 10px solid #0A1D3E;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #0A1D3E;
    border-top: 1px dashed #0A1D3E;
  }
  
  .past {
    background-color: #F8CE46;
    color: white;
  }
  
  .present {
    background-color: #C42939;
    color: white;
  }
  
  .future {
    background-color: #EE8833;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0A1D3E;
    color: #DA7D38;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    color:#F8CE46
    /* transition: all 0.3s ease-in-out; */
  }